@media screen and (max-width: 991px) {

/* Single Page */
	.col-sm-8 {
		min-width: 100% !important;
		height: auto !important;
		margin: 20px !important;
		margin-left: 10px !important;
	}

	.col-sm-4 {
		margin-left: 10px !important;
		min-width: 90% !important;
		margin-top: 550px !important;
	}

	img
	{
		max-width: 100% !important;
		min-width: 300px !important;
		height: auto !important;
	}

	#logo {
		margin-right: 0px !important;
	}

	#cartBtn {
		margin-bottom: 20px;
	}

}

@media screen and (max-width: 470px) {
	.col-sm-4 {
		margin-top: 420px !important;
	}

	#cartBtn {
		margin-bottom: 20px;
	}
}

@font-face {
    font-family: 'made_waffle_softextrabold';
    src: url('fonts/made_waffle_soft_personal_use-webfont.woff2') format('woff2'),
         url('fonts/made_waffle_soft_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
	color: rgb(104, 104, 104);
}

/* Welcome Page Styles */
#mainBackground {
	height: 1084px;
	width: 1441px;
	margin-top: -300px;
	position: fixed;
	z-index: -1;
}

.welcomeMessage {
	color: white;
	font-size: 4.8em;
	font-family: 'made_waffle_softextrabold', sans-serif;
}

#welcome {
	margin-top: 200px;
	margin-left: 250px;
	
}

#startBtn {
	margin-top: 15px;
	width: 220px;
	height: 60px;
	background-color: #07b5c4;
	border: #07b5c6;
	font-size: 1.8em;
	font-family: 'made_waffle_softextrabold', sans-serif;
	letter-spacing: 2px;
}

/* Banner Styles */
#jumboApparel {
	background: url('images/covalence-store-apparel-hero.jpg') no-repeat fixed;
	background-size: 1441px 500px;
	height: 450px;
	margin-top: -100px;
	margin-bottom: 60px;
}

#jumboMisc {
	background: url('images/covalence-store-misc-hero.jpg') no-repeat fixed 0px -30px;
	background-size: 1441px 500px;
	height: 450px;
	margin-top: -100px;
	margin-bottom: 60px;
}

#jumboCheckout {
	background: url('images/shoppingcart3.jpg') no-repeat fixed 0px 40px;
	background-size: 1441px 500px;
	height: 450px;
	margin-top: -100px;
	margin-bottom: 60px;
}

#jumboContact {
	background: url('images/contact.jpg') no-repeat fixed 0px -20px;
	background-size: 1441px 500px;
	height: 450px;
	margin-top: -100px;
	margin-bottom: 60px;
}

/* Nav Styles */
.my-navbar {
	background: rgba(27, 37, 40, 0.8);
	height: 80px;
}

#logo {
	margin-right: 40px;
}

.nav-link {
	color: #07b5c6;
	font-size: 1.8em;
	font-weight: bold;
	margin-right: 50px;
	letter-spacing: 3px;
}

#firstLink {
	border-left: solid 2px #07b5c6;
	padding-left: 40px;
}

.nav-link:hover {
	color: white;
	transition: 0.5s;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(7, 181, 196);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(7, 181, 196)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#cartNav {
	margin-left: 450px;
}


/* Merch Styles */
.figure {
	height: 321px;
	width: 350px;
	margin-right: 20px;
	margin-bottom: 60px;
}

.figure-caption {
	font-size: 1.8em;
	font-weight: bold;
}

.merch-container {
	margin-left: 150px;
	margin-right: 150px;
}

#price {
	margin-top: -27px;
	color: #07b5c6;
}

/* Single View Styles */

.col-sm-8 {
	margin-left: 100px;
	margin-top: 50px;
	position: absolute;
}

.col-sm-4 {
	margin-left: 750px;
	margin-top: 50px;
	font-size: 1.4em;
}

#productPrice {
	font-family: 'made_waffle_softextrabold', sans-serif;
	color: #07b5c6;
	font-size: 2em;
}

#productTitle {
	font-family: 'made_waffle_softextrabold', sans-serif;
	font-size: 1.7em;
}

li {
	padding: 5px;
	margin-left: -20px;
}

#cartBtn {
	width: 300px;
	height: 50px;
	background-color: #07b5c6;
	border: #07b5c6;
	font-size: 1.3em;
	font-family: 'made_waffle_softextrabold', sans-serif;
	letter-spacing: 3px;
}

/* Contact Page Styles */

#header {
	color: white;
	margin-top: 170px;
	margin-left: 500px;
	font-family: 'made_waffle_softextrabold', sans-serif;
	font-size: 5em;
	margin-bottom: -10px;
}

#contactP {
	color: white;
	margin-left: 580px;
	font-size: 1.6em;
}

#contact-name, #contact-email {
	width: 500px;
	font-size: .7em;
}

#contact-message {
	width: 500px;
	font-size: .7em;
}

.labels {
	font-weight: bold;
	text-align: center;
}

#contactBtn {
	background-color: #07b5c6;
	border: #07b5c6;
	width: 200px;
	height: 50px;
	margin-left: 170px;
	font-family: 'made_waffle_softextrabold', sans-serif;
	letter-spacing: 3px;
	font-size: 1.2em;
	margin-top: 25px;
}

.contact-form {
	margin-left: 250px;
	margin-top: 50px;
	background-color: #eee;
	width: 550px;
	height: 400px;
	padding-top: 10px;
	font-size: 2em;
}

/* Apparel Page Styles */

#apparelP {
	color: white;
	margin-left: 550px;
	font-size: 1.6em;
}

/* Misc Page Styles */

#miscP {
	color: white;
	margin-left: 535px;
	font-size: 1.6em;
}

/* Checkout Page Styles */

.checkoutForm {
	margin-left: 250px;
	margin-top: 50px;
	background-color: #eee;
	width: 580px;
	height: 580px;
	padding-top: 10px;
	font-size: 2em;
}

.col {
	margin-top: 10px;
}

.circle {
	background-color: #07b5c6;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	text-align: center;
	line-height: 40px;
	color: white;
	font-size: 1em;
	font-family: 'made_waffle_softextrabold', sans-serif;
	display: inline-block;
	margin-right: 10px;
}

.checkoutHeader {
	display: inline-block;
	font-family: 'made_waffle_softextrabold', sans-serif;
	margin-bottom: 20px;
}

.payMessage {
	font-family: 'made_waffle_softextrabold', sans-serif;
	font-size: .7em;
	margin-top: 20px;
	margin-left: 15px;
}

#checkoutBtn {
	width: 300px;
	height: 50px;
	background-color: #07b5c6;
	border: #07b5c6;
	font-size: 1em;
	font-family: 'made_waffle_softextrabold', sans-serif;
	letter-spacing: 3px;
	color: white;
	line-height: 50px;
	margin-top: 10px;
	margin-left: 100px;
}

.checkoutForm {
	margin-left: 50px;
	padding: 20px;
}


.form-control {
	height: 2.3em;
	font-size: .8em;
}

#inputState {
	height: 2.3em;
}

.cartDiv {
	width: 400px;
	height: 579px;
	background-color: #eee;
	margin-top: 50px;

}

#cartHeader {
	margin-left: 60px;
	margin-top: 30px;
}

#cancelBtn {
	margin-left: 100px;
	height: 40px;
	background-color: white;
	color: #07b5c6;
	border: white;
	font-size: 1.2em;
}

/* Shopping Cart Styles */

.cart-figures {
	height: 50px;
	width: 100px;
}

