<main-nav></main-nav>
<div class="jumbotron jumbotron-fluid" id="jumboApparel">
	<div class="container"></div>
</div>
</div>
<div class="merch-container">
	<figure class="figure">
		<img src="images/covalence-store-apparel-09.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
		<figcaption class="figure-caption">Dark Tee</figcaption>
		<figcaption class="figure-caption text-right" id="price">$15</figcaption>
	</figure>
	<figure class="figure">
		<img src="images/covalence-store-apparel-10.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
		<figcaption class="figure-caption">White Graphic Tee</figcaption>
		<figcaption class="figure-caption text-right" id="price">$15</figcaption>
	</figure>
	<figure class="figure">
		<img src="images/covalence-store-apparel-11.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
		<figcaption class="figure-caption">Blue Tee</figcaption>
		<figcaption class="figure-caption text-right" id="price">$15</figcaption>
	</figure>
	<figure class="figure">
		<img src="images/covalence-store-apparel-12.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
		<figcaption class="figure-caption">Graphic Pullover</figcaption>
		<figcaption class="figure-caption text-right" id="price">$15</figcaption>
	</figure>
</div>