<main-nav></main-nav>
<div class="jumbotron jumbotron-fluid" id="jumboApparel">
	<div class="container"></div>
</div>
</div>

<div class="merch-container">
	<figure id="" class="figure" ng-repeat="apparel in apparel">
		<a href="/apparel/{{ apparel.id }}">
			<img src="{{ apparel.imageurl }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
			<figcaption class="figure-caption">{{ apparel.title }}</figcaption>
			<figcaption class="figure-caption text-right" id="price">${{ apparel.price }}</figcaption>
		</a>
	</figure>
</div>
<main-footer></main-footer>