<main-nav active-page="'purchase'"></main-nav>
<div class="jumbotron" id="jumboCart"></div>
<div class="container">
<h2>Shopping Cart</h2>
<table border="1">
    <thead>
        <tr>
            <th>Item ID</th>
            <th>Title</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span id="id">{{ product.id }}</span></td>
            <td><span id="title">{{ product.title }}</span></td>
            <td><span id="price">{{ product.price }}</span></td>
            <td>$<span id="total"></span></td>

        </tr>
    </tbody>
</table>
</div>

<main-footer></main-footer>