<main-nav active-page="'purchase'"></main-nav>
<div class="container">
  <div class="row">
    <div class="col">
      <form class="checkoutForm">
        <div class="circle">1</div>
        <h2 class="checkoutHeader">Your Email</h2>
        <div class="form-group container">
          <input type="email" class="form-control" required placeholder="Email Address" />
        </div>
        <div class="circle">2</div>
        <h2 class="checkoutHeader">Your Billing Address</h2>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Company (Optional)">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Phone Number">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Street Address">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="Street Address 2 (Optional)">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" placeholder="City" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>Alabama</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <input type="text" class="form-control" placeholder="Zip" id="inputZip">
          </div>
        </div>
        <div class="circle">3</div>
        <h2 class="checkoutHeader">Payment Method</h2>
        <div class="form-row">
          <div id="card-field" class="form-control"></div>
        </div>
        <p class="payMessage">Almost done! Click the submit button to process your payment!</p>
        <button id="checkoutBtn" type="submit">Submit Your Order</button>
        <div class="outcome">
          <div class="error" role="alert"></div>
          <div class="success">
            <span class="token"></span>
          </div>
        </div>
      </form>
    </div>
    <div class="col">
      <div class="cartDiv">
        <h1 class="checkoutHeader" id="cartHeader">Your Shopping Cart</h2>
          <a href="/apparel">
            <button type="button" class="btn btn-primary" id="cancelBtn">Cancel and continue shopping</button>
          </a>
          <div class="cart-container">
            <div class="cart-figures" ng-repeat="item in items">
              <img src="{{ item.imageurl }}" class="figure-img img-fluid rounded cart-img" alt="A summary of each item in shopping cart.">
              <h5 class="cartQty">Qty: x{{ item.quantity }}</h5><br>
              <h3 class="cartTitle">{{ item.title }}</h3><br>
              <h4 class="cartPrice">${{ item.price }}</h4><br>
              <button ng-click="removeItem()">Remove Item</button>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<main-footer></main-footer>