<main-nav active-page="'misc'"></main-nav>
<div class="jumbotron jumbotron-fluid" id="jumboMisc">
	<div class="container"></div>
	<h1 id="header">Miscellaneous</h1>
	<p id="miscP">Stuff you didn't even know you needed</p>
</div>
</div>
<div class="merch-container">
	<figure class="figure" ng-repeat="misc in misc">
		<a ng-href="/misc/{{misc.id}}">
		<img src= "{{ misc.imageurl }}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
		<figcaption class="figure-caption">{{ misc.title }}</figcaption>
		<figcaption class="figure-caption text-right" id="price">${{ misc.price }}</figcaption>
		</a>
	</figure>
	
</div>
<main-footer></main-footer>